replicaCount: 2

image:
  repository: docker.io/devopssean/zta_demo_app
  pullPolicy: IfNotPresent
  # -- Full image tag (e.g. "1.2.3" or Git SHA). CI replaces this via --set image.tag.
  tag: "{{.IMAGE_TAG}}"
  pullSecrets: []

# OpenTelemetry settings
observability:
  enabled: true
  # OTEL_SERVICE_NAME is set dynamically in the deployment.yaml
  # OTEL_EXPORTER_OTLP_ENDPOINT: "http://observability-stack-opentelemetry-collector.observability.svc.cluster.local:4318"
  # OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"
  env:
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://observability-stack-opentelemetry-collector.observability:4318"
    OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  linkerd.io/inject: disabled # disabled for now

podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]

service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 5000
  annotations: {}

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tls-cert
      hosts:
        - chart-example.local

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 15
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /ready
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70

configmap:
  enabled: false # disabled for now
  data: {}

externalSecret:
  enabled: false # disabled for now
  secretStoreRef:
    name: infisical-store
    kind: ClusterSecretStore
  refreshInterval: 1h
  secretKey: "MYAPP_PROD"

pdb:
  enabled: true
  minAvailable: 1